// main: ../style.scss
.intro {
  background-color: rgb(249, 249, 249);
  overflow: hidden;
}

.intro__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 100px 0 50px;
  position: relative;
}

.intro__photo img {
  display: block;
  width: 100%;
  height: auto;
}

// .video{
//   position: relative;
//   padding-bottom: 56.25%;
//   z-index: 1;
// }

// .video__media{
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: auto;
// }

// .intro__content{
//   width: 650px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   position: absolute;
//   top: 0;
//   right: 150px;
//   z-index: 3;
//   padding-left: 0;
//   padding-right: 4rem;
//   padding-top: 20vw;
// }

.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro__title {
  font-size: 3.8rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;

  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-bottom: 50px;
}

.btn-inner {
  max-width: 180px;
}

// .intro__title:after {
//   content: '';
//   display: block;
//   width: 4rem;
//   height: .2rem;
//   background-color: #ffffff;
//   margin: 4rem auto;
// }

.intro__text {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: 50px;
}

@media (max-width: $desktop) {}

@media (max-width: $tablet) {
  .intro__title {
    font-size: 3rem;
  }
}

@media (max-width: $tablet-sm) {
  .intro__title {
    font-size: 2.5rem;
  }

  .intro__text {
    font-size: 1rem;
  }
}

@media (max-width: $mobile) {
  .intro__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;

  }

  .intro__inner {
    padding: 0 20px;
    align-items: center;
  }

  .intro__title {
    font-size: 2rem;
  }

  .intro__text {
    font-size: 0.8rem;
  }
}
