// main: ../style.scss

.reviews {
  padding: 2rem 0;
  position: relative;

  background-color: #06517d;
  background-image: linear-gradient(90deg, #06517d 0%, #5bb5c7 67%);
  margin-bottom: 140px;
}

.reviews-slider {
  width: 100%;

  &__slider-btnprev {
    display: none !important;
  }

  &__slider-btnnext {
    display: none !important;
  }
}


.reviews-slider__slider-btn {
  display: none;
}

.reviews-slider .slick-dots {
  bottom: -20px;
}

.reviews-slider .slick-dots button {
  background-color: #C4C4C4;
  height: 14px;
  width: 14px;
}

.reviews-slider .slick-dots .slick-active button,
.reviews-slider .slick-dots .slick-active button:active  {
  background-color: #fff;
  border: .5px solid #06517d;
}

.reviews__item {
  margin: 0 auto;
}

.reviews__text {
  font-size: .94rem;
  line-height: 2.2;
  color: #fff;
  text-align: center;
}

.reviews__author {
  width: 100%;
  text-align: center;
}

.reviews__item {
  position: relative;
  display: block;
cursor: pointer;
}

.reviews__photo {
  display: block;
  margin: 0 auto 0.6rem;
  width: 150px;
  height: 150px;

  border-radius: 50%;
  border: 4px solid #EFEFEF;

  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.reviews__item:hover .reviews__photo {
  opacity: 0.3;
}

.reviews__item:hover .middle {
  opacity: 1;
}

.reviews__company {
  margin-bottom: .4rem;

  font-size: .94rem;
  color: #000;
  font-style: italic;
  font-weight: 300;
}

.reviews__star {
  width: 13px;
  height: 13px;

  &--unactive {
    opacity: .3;
  }
}
