// main: ../style.scss

.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;

  width: 55px;
  height: 55px;
  background-color: #fff;
  border-right: 1px solid #2519a1;
  color: #fff;

  transition: background-color .1s linear;
  transition: color .1s linear;

  position: relative;
}

.social__link:last-child {
  border-right: none;
}

.social__link:hover {
  background-color: rgba(6, 81, 125, .7);
}

.social__icon {
  fill: #000;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.social__link:hover .social__icon {
  fill: #fff;
}
